html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: Bevellier-BlackItalic;
  src: url("font/Panchang-Bold.otf"); 
}
body {
  font-family: Bevellier-BlackItalic;
  background-color: rgb(255, 92, 92);
}
textarea {
  resize: none;
  position: relative;
  top: 0%;
  left: 0%;
  padding: 1em;
  margin: 1em;
  background-color: rgb(255, 143, 143);
  border: 0cap;
  width: 20em;
  height: 10em;
}